<a href="https://colab.research.google.com/github/dhruvph/ANLY530/blob/main/ANLY530_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ANLY530- Laboratory #1 Classification

## Method 1 Tree Based Classification

### Step 1: Collecting the data

In [ ]:
import pandas as pd
# Mounting the gdrive
from google.colab import drive
drive.mount('/content/drive')

input_file = "drive/My Drive/Colab Notebooks/credit.csv"
credit = pd.read_csv(input_file)

credit.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   Creditability  Account Balance  ...  Telephone  Foreign Worker
0              1                1  ...          1               1
1              1                1  ...          1               1
2              1                2  ...          1               1
3              1                1  ...          1               2
4              1                1  ...          1               2

[5 rows x 21 columns]

In [ ]:
credit.describe()

       Creditability  Account Balance  ...    Telephone  Foreign Worker
count    1000.000000      1000.000000  ...  1000.000000     1000.000000
mean        0.700000         2.577000  ...     1.404000        1.037000
std         0.458487         1.257638  ...     0.490943        0.188856
min         0.000000         1.000000  ...     1.000000        1.000000
25%         0.000000         1.000000  ...     1.000000        1.000000
50%         1.000000         2.000000  ...     1.000000        1.000000
75%         1.000000         4.000000  ...     2.000000        1.000000
max         1.000000         4.000000  ...     2.000000        2.000000

[8 rows x 21 columns]

### Step 2: Exploring the data

In [ ]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Creditability                      1000 non-null   int64
 1   Account Balance                    1000 non-null   int64
 2   Duration of Credit (month)         1000 non-null   int64
 3   Payment Status of Previous Credit  1000 non-null   int64
 4   Purpose                            1000 non-null   int64
 5   Credit Amount                      1000 non-null   int64
 6   Value Savings/Stocks               1000 non-null   int64
 7   Length of current employment       1000 non-null   int64
 8   Instalment per cent                1000 non-null   int64
 9   Sex & Marital Status               1000 non-null   int64
 10  Guarantors                         1000 non-null   int64
 11  Duration in Current address        1000 non-null   int64
 12  Most valuable available asset      1000 non-null   int64
 13  Age (years)                        1000 non-null   int64
 14  Concurrent Credits                 1000 non-null   int64
 15  Type of apartment                  1000 non-null   int64
 16  No of Credits at this Bank         1000 non-null   int64
 17  Occupation                         1000 non-null   int64
 18  No of dependents                   1000 non-null   int64
 19  Telephone                          1000 non-null   int64
 20  Foreign Worker                     1000 non-null   int64
dtypes: int64(21)
memory usage: 164.2 KB

In [ ]:
target = credit['Creditability']

target.value_counts()

1    700
0    300
Name: Creditability, dtype: int64

Split data into training and test sets

#### Method 1:

In [ ]:
# Generate random numbers
import random
random.seed(12345)
indx = random.sample(range(0, 1000), 1000)
credit_rand = credit.iloc[indx]
target_rand = target.iloc[indx]

credit_rand.head(5)

     Creditability  Account Balance  ...  Telephone  Foreign Worker
426              1                2  ...          2               1
750              1                2  ...          1               1
10               1                1  ...          1               1
839              0                4  ...          1               1
845              0                2  ...          1               1

[5 rows x 21 columns]

In [ ]:
credit_rand.describe()

       Creditability  Account Balance  ...    Telephone  Foreign Worker
count    1000.000000      1000.000000  ...  1000.000000     1000.000000
mean        0.700000         2.577000  ...     1.404000        1.037000
std         0.458487         1.257638  ...     0.490943        0.188856
min         0.000000         1.000000  ...     1.000000        1.000000
25%         0.000000         1.000000  ...     1.000000        1.000000
50%         1.000000         2.000000  ...     1.000000        1.000000
75%         1.000000         4.000000  ...     2.000000        1.000000
max         1.000000         4.000000  ...     2.000000        2.000000

[8 rows x 21 columns]

Compare this result to what we had earlier.
- The results are the same as previous.

In [ ]:
credit_train = credit_rand.iloc[0:700]
credit_test = credit_rand.iloc[700:1000]
target_train = target_rand.iloc[0:700]
target_test = target_rand.iloc[700:1000]

print(target_train.value_counts()/700)
print(target_test.value_counts()/300)

1    0.691429
0    0.308571
Name: Creditability, dtype: float64
1    0.72
0    0.28
Name: Creditability, dtype: float64

#### Method 2:

In [ ]:
# Method 2 of splitting the model
from sklearn.model_selection import train_test_split

y = target
X = credit.drop(['Creditability'],axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=52)

### Step 3: Training a model on the data

In [28]:
# Design decision tree
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

model = tree.DecisionTreeClassifier()
model = model.fit(X_train, y_train)

# Visualize the model

from IPython.display import SVG
from graphviz import Source
from IPython.display import display
graph = Source(tree.export_graphviz(model, out_file=None
, feature_names=X.columns, class_names=['default', 'no default']
, filled = True))
display(SVG(graph.pipe(format='svg')))

# tree.export_text(model) # text_representation of model

'|--- feature_0 <= 2.50\n|   |--- feature_1 <= 11.50\n|   |   |--- feature_16 <= 3.50\n|   |   |   |--- feature_12 <= 24.50\n|   |   |   |   |--- feature_8 <= 2.50\n|   |   |   |   |   |--- feature_7 <= 2.00\n|   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |--- feature_7 >  2.00\n|   |   |   |   |   |   |--- class: 0\n|   |   |   |   |--- feature_8 >  2.50\n|   |   |   |   |   |--- class: 1\n|   |   |   |--- feature_12 >  24.50\n|   |   |   |   |--- feature_2 <= 1.50\n|   |   |   |   |   |--- class: 0\n|   |   |   |   |--- feature_2 >  1.50\n|   |   |   |   |   |--- class: 1\n|   |   |--- feature_16 >  3.50\n|   |   |   |--- feature_7 <= 2.50\n|   |   |   |   |--- class: 0\n|   |   |   |--- feature_7 >  2.50\n|   |   |   |   |--- feature_3 <= 1.00\n|   |   |   |   |   |--- feature_0 <= 1.50\n|   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |--- feature_0 >  1.50\n|   |   |   |   |   |   |--- class: 0\n|   |   |   |   |--- feature_3 >  1.00\n|   |   |   |   |   |--- class: 1\n|   |--- feature_1 >  11.50\n|   |   |--- feature_1 <= 31.50\n|   |   |   |--- feature_3 <= 0.50\n|   |   |   |   |--- feature_4 <= 1392.00\n|   |   |   |   |   |--- feature_12 <= 46.50\n|   |   |   |   |   |   |--- feature_12 <= 22.50\n|   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |--- feature_12 >  22.50\n|   |   |   |   |   |   |   |--- feature_2 <= 2.50\n|   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |--- feature_2 >  2.50\n|   |   |   |   |   |   |   |   |--- feature_4 <= 1338.50\n|   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |   |--- feature_4 >  1338.50\n|   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |--- feature_12 >  46.50\n|   |   |   |   |   |   |--- feature_1 <= 22.50\n|   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |--- feature_1 >  22.50\n|   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |--- feature_4 >  1392.00\n|   |   |   |   |   |--- feature_9 <= 1.50\n|   |   |   |   |   |   |--- feature_2 <= 1.50\n|   |   |   |   |   |   |   |--- feature_1 <= 22.50\n|   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |--- feature_1 >  22.50\n|   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |--- feature_2 >  1.50\n|   |   |   |   |   |   |   |--- feature_4 <= 2545.00\n|   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |--- feature_4 >  2545.00\n|   |   |   |   |   |   |   |   |--- feature_4 <= 2808.50\n|   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |   |--- feature_4 >  2808.50\n|   |   |   |   |   |   |   |   |   |--- feature_1 <= 26.00\n|   |   |   |   |   |   |   |   |   |   |--- feature_8 <= 2.50\n|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2\n|   |   |   |   |   |   |   |   |   |   |--- feature_8 >  2.50\n|   |   |   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |   |   |--- feature_1 >  26.00\n|   |   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |--- feature_9 >  1.50\n|   |   |   |   |   |   |--- class: 0\n|   |   |   |--- feature_3 >  0.50\n|   |   |   |   |--- feature_9 <= 2.50\n|   |   |   |   |   |--- feature_5 <= 2.50\n|   |   |   |   |   |   |--- feature_3 <= 1.50\n|   |   |   |   |   |   |   |--- feature_1 <= 15.00\n|   |   |   |   |   |   |   |   |--- feature_4 <= 2623.00\n|   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |   |--- feature_4 >  2623.00\n|   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |--- feature_1 >  15.00\n|   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |--- feature_3 >  1.50\n|   |   |   |   |   |   |   |--- feature_4 <= 7619.50\n|   |   |   |   |   |   |   |   |--- feature_3 <= 7.00\n|   |   |   |   |   |   |   |   |   |--- feature_4 <= 3571.00\n|   |   |   |   |   |   |   |   |   |   |--- feature_1 <= 16.50\n|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 8\n|   |   |   |   |   |   |   |   |   |   |--- feature_1 >  16.50\n|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 6\n|   |   |   |   |   |   |   |   |   |--- feature_4 >  3571.00\n|   |   |   |   |   |   |   |   |   |   |--- feature_2 <= 1.50\n|   |   |   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |   |   |   |--- feature_2 >  1.50\n|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 5\n|   |   |   |   |   |   |   |   |--- feature_3 >  7.00\n|   |   |   |   |   |   |   |   |   |--- feature_10 <= 3.50\n|   |   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |   |   |--- feature_10 >  3.50\n|   |   |   |   |   |   |   |   |   |   |--- feature_1 <= 18.00\n|   |   |   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |   |   |   |--- feature_1 >  18.00\n|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2\n|   |   |   |   |   |   |   |--- feature_4 >  7619.50\n|   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |--- feature_5 >  2.50\n|   |   |   |   |   |   |--- feature_12 <= 60.50\n|   |   |   |   |   |   |   |--- feature_3 <= 9.50\n|   |   |   |   |   |   |   |   |--- feature_13 <= 2.50\n|   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |   |--- feature_13 >  2.50\n|   |   |   |   |   |   |   |   |   |--- feature_12 <= 31.50\n|   |   |   |   |   |   |   |   |   |   |--- feature_7 <= 1.50\n|   |   |   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |   |   |   |--- feature_7 >  1.50\n|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4\n|   |   |   |   |   |   |   |   |   |--- feature_12 >  31.50\n|   |   |   |   |   |   |   |   |   |   |--- feature_4 <= 6989.50\n|   |   |   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |   |   |   |--- feature_4 >  6989.50\n|   |   |   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |--- feature_3 >  9.50\n|   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |--- feature_12 >  60.50\n|   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |--- feature_9 >  2.50\n|   |   |   |   |   |--- feature_11 <= 2.50\n|   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |--- feature_11 >  2.50\n|   |   |   |   |   |   |--- feature_16 <= 2.50\n|   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |--- feature_16 >  2.50\n|   |   |   |   |   |   |   |--- class: 1\n|   |   |--- feature_1 >  31.50\n|   |   |   |--- feature_6 <= 1.50\n|   |   |   |   |--- class: 1\n|   |   |   |--- feature_6 >  1.50\n|   |   |   |   |--- feature_5 <= 4.00\n|   |   |   |   |   |--- feature_18 <= 1.50\n|   |   |   |   |   |   |--- feature_4 <= 2353.50\n|   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |--- feature_4 >  2353.50\n|   |   |   |   |   |   |   |--- feature_12 <= 25.50\n|   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |--- feature_12 >  25.50\n|   |   |   |   |   |   |   |   |--- feature_11 <= 2.50\n|   |   |   |   |   |   |   |   |   |--- feature_4 <= 3166.00\n|   |   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |   |   |--- feature_4 >  3166.00\n|   |   |   |   |   |   |   |   |   |   |--- feature_4 <= 8055.50\n|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3\n|   |   |   |   |   |   |   |   |   |   |--- feature_4 >  8055.50\n|   |   |   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |   |--- feature_11 >  2.50\n|   |   |   |   |   |   |   |   |   |--- feature_5 <= 1.50\n|   |   |   |   |   |   |   |   |   |   |--- feature_17 <= 1.50\n|   |   |   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |   |   |   |--- feature_17 >  1.50\n|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2\n|   |   |   |   |   |   |   |   |   |--- feature_5 >  1.50\n|   |   |   |   |   |   |   |   |   |   |--- feature_6 <= 3.50\n|   |   |   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |   |   |   |--- feature_6 >  3.50\n|   |   |   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |--- feature_18 >  1.50\n|   |   |   |   |   |   |--- feature_2 <= 3.50\n|   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |--- feature_2 >  3.50\n|   |   |   |   |   |   |   |--- feature_12 <= 32.00\n|   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |--- feature_12 >  32.00\n|   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |--- feature_5 >  4.00\n|   |   |   |   |   |--- feature_10 <= 2.50\n|   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |--- feature_10 >  2.50\n|   |   |   |   |   |   |--- feature_2 <= 2.50\n|   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |--- feature_2 >  2.50\n|   |   |   |   |   |   |   |--- class: 1\n|--- feature_0 >  2.50\n|   |--- feature_4 <= 9569.00\n|   |   |--- feature_13 <= 1.50\n|   |   |   |--- feature_3 <= 7.50\n|   |   |   |   |--- feature_3 <= 1.50\n|   |   |   |   |   |--- feature_1 <= 15.00\n|   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |--- feature_1 >  15.00\n|   |   |   |   |   |   |--- feature_4 <= 7654.50\n|   |   |   |   |   |   |   |--- feature_7 <= 1.50\n|   |   |   |   |   |   |   |   |--- feature_11 <= 2.50\n|   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |   |--- feature_11 >  2.50\n|   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |--- feature_7 >  1.50\n|   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |--- feature_4 >  7654.50\n|   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |--- feature_3 >  1.50\n|   |   |   |   |   |--- feature_1 <= 21.00\n|   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |--- feature_1 >  21.00\n|   |   |   |   |   |   |--- feature_18 <= 1.50\n|   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |--- feature_18 >  1.50\n|   |   |   |   |   |   |   |--- class: 0\n|   |   |   |--- feature_3 >  7.50\n|   |   |   |   |--- class: 0\n|   |   |--- feature_13 >  1.50\n|   |   |   |--- feature_12 <= 29.50\n|   |   |   |   |--- feature_1 <= 34.50\n|   |   |   |   |   |--- feature_15 <= 2.50\n|   |   |   |   |   |   |--- feature_12 <= 19.50\n|   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |--- feature_12 >  19.50\n|   |   |   |   |   |   |   |--- feature_4 <= 475.50\n|   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |--- feature_4 >  475.50\n|   |   |   |   |   |   |   |   |--- feature_16 <= 2.50\n|   |   |   |   |   |   |   |   |   |--- feature_12 <= 27.50\n|   |   |   |   |   |   |   |   |   |   |--- feature_4 <= 1123.00\n|   |   |   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |   |   |   |--- feature_4 >  1123.00\n|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3\n|   |   |   |   |   |   |   |   |   |--- feature_12 >  27.50\n|   |   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |   |--- feature_16 >  2.50\n|   |   |   |   |   |   |   |   |   |--- feature_12 <= 23.50\n|   |   |   |   |   |   |   |   |   |   |--- feature_3 <= 4.00\n|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3\n|   |   |   |   |   |   |   |   |   |   |--- feature_3 >  4.00\n|   |   |   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |   |   |--- feature_12 >  23.50\n|   |   |   |   |   |   |   |   |   |   |--- feature_3 <= 0.50\n|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3\n|   |   |   |   |   |   |   |   |   |   |--- feature_3 >  0.50\n|   |   |   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |--- feature_15 >  2.50\n|   |   |   |   |   |   |--- class: 0\n|   |   |   |   |--- feature_1 >  34.50\n|   |   |   |   |   |--- feature_2 <= 2.50\n|   |   |   |   |   |   |--- feature_16 <= 3.50\n|   |   |   |   |   |   |   |--- feature_4 <= 4064.50\n|   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |--- feature_4 >  4064.50\n|   |   |   |   |   |   |   |   |--- feature_4 <= 5029.00\n|   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |   |--- feature_4 >  5029.00\n|   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |--- feature_16 >  3.50\n|   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |--- feature_2 >  2.50\n|   |   |   |   |   |   |--- class: 0\n|   |   |   |--- feature_12 >  29.50\n|   |   |   |   |--- feature_14 <= 2.50\n|   |   |   |   |   |--- feature_9 <= 1.50\n|   |   |   |   |   |   |--- feature_12 <= 33.50\n|   |   |   |   |   |   |   |--- feature_10 <= 2.50\n|   |   |   |   |   |   |   |   |--- feature_6 <= 1.50\n|   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |   |--- feature_6 >  1.50\n|   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |--- feature_10 >  2.50\n|   |   |   |   |   |   |   |   |--- feature_11 <= 1.50\n|   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |   |--- feature_11 >  1.50\n|   |   |   |   |   |   |   |   |   |--- feature_18 <= 1.50\n|   |   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |   |   |--- feature_18 >  1.50\n|   |   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |--- feature_12 >  33.50\n|   |   |   |   |   |   |   |--- feature_4 <= 2526.50\n|   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |--- feature_4 >  2526.50\n|   |   |   |   |   |   |   |   |--- feature_4 <= 2558.00\n|   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |   |--- feature_4 >  2558.00\n|   |   |   |   |   |   |   |   |   |--- feature_3 <= 5.50\n|   |   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |   |   |--- feature_3 >  5.50\n|   |   |   |   |   |   |   |   |   |   |--- feature_18 <= 1.50\n|   |   |   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |   |   |   |--- feature_18 >  1.50\n|   |   |   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |--- feature_9 >  1.50\n|   |   |   |   |   |   |--- feature_6 <= 3.50\n|   |   |   |   |   |   |   |--- feature_7 <= 3.00\n|   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |--- feature_7 >  3.00\n|   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |--- feature_6 >  3.50\n|   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |--- feature_14 >  2.50\n|   |   |   |   |   |--- feature_13 <= 2.50\n|   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |--- feature_13 >  2.50\n|   |   |   |   |   |   |--- feature_17 <= 1.50\n|   |   |   |   |   |   |   |--- feature_15 <= 1.50\n|   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |--- feature_15 >  1.50\n|   |   |   |   |   |   |   |   |--- feature_0 <= 3.50\n|   |   |   |   |   |   |   |   |   |--- feature_1 <= 12.50\n|   |   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |   |   |   |--- feature_1 >  12.50\n|   |   |   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |   |--- feature_0 >  3.50\n|   |   |   |   |   |   |   |   |   |--- class: 1\n|   |   |   |   |   |   |--- feature_17 >  1.50\n|   |   |   |   |   |   |   |--- feature_4 <= 1576.00\n|   |   |   |   |   |   |   |   |--- class: 0\n|   |   |   |   |   |   |   |--- feature_4 >  1576.00\n|   |   |   |   |   |   |   |   |--- class: 1\n|   |--- feature_4 >  9569.00\n|   |   |--- feature_8 <= 2.50\n|   |   |   |--- class: 0\n|   |   |--- feature_8 >  2.50\n|   |   |   |--- feature_11 <= 3.50\n|   |   |   |   |--- class: 1\n|   |   |   |--- feature_11 >  3.50\n|   |   |   |   |--- feature_3 <= 0.50\n|   |   |   |   |   |--- class: 0\n|   |   |   |   |--- feature_3 >  0.50\n|   |   |   |   |   |--- class: 1\n'

### Step 4: Evaluating Model Performance

In [29]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

y_predict = model.predict(X_test)
print(confusion_matrix(y_test, y_predict))
print(accuracy_score(y_test, y_predict)*100)

[[ 42  42]
 [ 41 175]]
72.33333333333334

### Question 1
**If you see the accuracy 0f 100%, what does it mean? Does this mean that we design a perfect model? This is some thing that needs more discussion. Write a few sentences about accuracy of 100%.**  
**Answer:**  ?????????????????????????????????????????????????

## Method #2. Random forest

In [30]:
# Part 2 Random forest
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X_train, y_train)
y_predict = clf.predict(X_test)
print(confusion_matrix(y_test, y_predict))
print(accuracy_score(y_test, y_predict)*100)

[[ 37  47]
 [ 28 188]]
75.0

### Question 2 
**What are the three most important features in this model.**  
**Answer:**  ?????????????????????????????????????????????????

In [31]:
random.seed(23458) #Now, Change the random seed to 23458 and find the new accuracy of random forest.
clf.fit(X_train, y_train)
y_predict = clf.predict(X_test)
print(confusion_matrix(y_test, y_predict))
print(accuracy_score(y_test, y_predict)*100)

[[ 37  47]
 [ 31 185]]
74.0